@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

.page {
    font-family: 'Roboto', sans-serif;
}

.page__menu {
    background-color: #1F2937;
}

.menu__nav {
    margin: 0 208px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0;
    list-style-type: none;
}

.nav__logo, .nav__link {
    text-decoration: none;
}

.nav__content {
    display: flex;
    gap: 24px;
}

.nav__logo, .cta__text-main {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav__link, .hero__text-secondary, .cta__text-secondary {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.page__header {
    height: 470px;
    background-color: #1F2937;
}

.header__hero {
    margin: 0 208px;
    padding: 100px 0 0;
}

.hero {
    display: flex;
    width: 1024px;
}

.hero__content {
    margin: 0 48px 0 0;
}

.hero__text-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero__text-secondary {
    margin: 0 0 12px 0;
}

.button-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 37px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    background-color: #3882F6;
    border-radius: 8px;
}

.hero__image {
    min-width: 522px;
    height: 237px;
    object-fit: cover;
}

.info__header {
    margin: 48px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info__content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 120px;
}

.card {
    margin: 0;
    width: 168px;
}

.card__image {
    width: 160px;
    height: 160px;
    margin: 0 0 8px 0;
    border-width: 4px;
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}

.card__caption {
    font-size: 18px;
    color: #4a5464;
    text-align: center;
}

.quotes {
    display: flex;
    align-items: center;
    height: 430px;
    background-color: #E5E7EB;
}

.quotes__quote {
    margin: 0 342px;
}

.quotes__text {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quotes__caption {
    margin: 0 28px 0 0;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #1E2838;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.cta__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 8px;
}

.cta__text {
    margin-left: 120px;
}

.cta__text-main, .cta__text-secondary {
    margin: 0;
}

.cta__text-main {
    margin-bottom: 2px;
}

.cta__link {
    width: 126px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    border-radius: 8px;
    border-style: solid;
    border-color: #FFF;
    text-decoration: none;
    font-weight: 500;
    color: #FFF;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    font-size: 18px;
    font-weight: 400;
    color: #E3E4E6;
}
