@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

.page {
    font-family: 'Roboto', sans-serif;
}

.page__menu {
    padding: 0 208px;
    background-color: #1F2937;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__content {
    display: flex;
    gap: 24px;
}

.nav__logo, .nav__link {
    text-decoration: none;
}

.nav__logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.nav__link, .hero__secondary-text {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    background-color: #1F2937;
}

.hero {
    display: flex;
    width: 1024px;
}

.hero__content {
    padding: 0 54px 0 0;
}

.hero__main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero__secondary-text {
    margin: 0 0 12px 0;
}

.hero__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 38px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    background-color: #3882F6;
    border-radius: 8px;
}

.hero__image {
    min-width: 522px;
    height: 237px;
    object-fit: cover;
}

.info {
    height: 498px;
}

.info__title {
    margin: 0;
    padding: 46px 0 52px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.figure {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.figure__card {
    margin: 0;
    width: 168px;
}

.figure__image {
    width: 160px;
    height: 160px;
    border-width: 4px;
    border-radius: 16px;
    border-style: solid;
    border-color: #3882F6;
}

.figure__caption {
    font-size: 18px;
    color: #4A5464;
}

.quote {
    display: flex;
    height: 430px;
    align-items: center;
    padding: 0 340px;
    background-color: #E5E7EB;
}

.quote__section, .quote__main, .quote__text {
    margin: 0;
}

.quote__text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote__caption {
    margin-right: 28px;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #1E2838;
}
